{% extends "dashboard.twig" %} {% block css %}
{{ parent() }}
<link rel="stylesheet" href="../public/assets/css/style.css" />

{% endblock %}
 {% block content %}
{{ parent() }}


<div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <h4><small>Simple With Actions</small></h4>

                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="text-right">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for user in users %}

                         <tr>
                            <td class="text-center">{{user.user_id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td class="text-right">{{user.is_active}}</td>
                            <td class="td-actions text-right">
                            
                                <a href=""><button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                    <i class="material-icons">Disactivate</i>
                                </button></a>
                                <a href="/EsBootCamp-Blog/dashboard/users/edit/{{user.user_id}}"><button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button></a>
                                <a href="/EsBootCamp-Blog/dashboard/users/delete/{{user.user_id}}"><button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                                    <i class="material-icons">Delete</i>
                                </button></a>
                            </td>
                        </tr>
                              
                         {% endfor %}
                        
                    
                    </tbody>
                </table>
                </div>
    
    
            </div>




{% endblock %}


 {% block script %}
{{ parent() }}

{% endblock %}
